<div class="container">
    <button class="btn btn-success pull-right" ng-click="logout()">Lougout</button>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <img class="img-circle" src="images/tou.jpg"/>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <form class="form col-lg-3">
        <input type="text" class="form-control" title="username" ng-model="username" disabled="disabled"/><br/>
        <input type="text" class="form-control" title="password" ng-model="password"/><br/>
        <input type="button" value="Update" class="btn btn-info" ng-click="update()"/>
    </form>
</div>